.header_wrapper {
  background-color: #0e0e0e;
  padding: 5px 11.46%;
  height: 100px;
}

header {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff;
}

.logo_and_menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 35px;
}

.menu {
  background-color: inherit;
  border: none;
  display: none;
  cursor: pointer;
  outline: none;
  opacity: 0;
  transition: all 0.6s ease;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  list-style-type: none;
}

nav li {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.5s ease;
}

nav a:hover {
  color: #d87d4a;
}

.cta {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  nav {
    position: absolute;
    top: 110px;
    background-color: #000000;
    width: 80%;
    left: 10%;
    z-index: 10;
    padding: 25px;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
  }

  .menu {
    display: inline-block;
    opacity: 1;
  }
}

@media (max-width: 375px) {
  header {
    grid-template-columns: 2fr 1fr;
  }

  .logo_and_menu {
    justify-content: space-between;
    width: 72%;
  }

  nav {
    width: 90%;
    left: 5%;
  }
}
