@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-Regular.woff2") format("woff2");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", fantasy;
  max-width: 1440px;
  background-color: #ffffff;
  margin: 0 auto;
  width: 100%;
}
