.about_wrapper {
  width: 100%;
  max-width: 14440px;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Manrope";
  max-width: 100%;
  width: 1110px;
  align-items: center;
  margin: 200px auto;
  gap: 40px;
  height: 588px;
}

.text_container {
  display: flex;
  flex-direction: column;
  width: 445px;
  height: 295px;
  gap: 25px;
}

.text_container > .heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 1.43px;
  color: #000000;
  line-height: 44px;
}

.heading > span {
  color: #d87d4a;
}

.text_container .description {
  line-height: 25px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0.5;
}

.image_container {
  height: 588px;
  width: 540px;
  background: url("/assets/about_img.jpg");
  border-radius: 8px;
}

@media (max-width: 1023px) {
  .about {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    gap: 50px;
    width: 90%;
    height: auto;
  }

  .image_container {
    width: 100%;
    height: 300px;
    background: url("/assets/about_img_tablet.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .text_container {
    width: 80%;
    height: 270px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .image_container {
    background: url("/assets/about_img_mobile.jpg");
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .text_container .heading {
    font-size: 28px;
    letter-spacing: 1px;
  }

  .text_container {
    width: 100%;
  }
}
