.hero {
  background-color: #0e0e0e;
  display: flex;
  max-width: 100%;
  flex-direction: row;
  align-items: center;
  height: 729px;
  justify-content: center;
  margin: 0 auto;
  padding: 30px 11.46%;
}

.text_content {
  display: flex;
  width: fit-content;
  flex-direction: column;
  gap: 15px;
}

.text_content .label {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 10px;
  opacity: 0.49;
  color: #ffffff;
}

.text_content .heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 2px;
  color: #ffffff;
}

.text_content .description {
  font-size: 15px;
  color: #ffffff;
  font-weight: 500;
  line-height: 25px;
  width: 100%;
  opacity: 0.75;
}

.text_content button {
  background-color: #d87d4a;
  color: #ffffff;
  font-size: 13px;
  margin-top: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  width: 160px;
  font-family: inherit;
  height: 48px;
  border: none;
  transition: background-color 0.5s ease;
}

.text_content button:hover {
  background-color: #fbaf85;
}

.image_content {
  width: fit-content;
}

.image_content img {
  height: 729px;
  width: auto;
}

@media (max-width: 1023px) {
  .image_content {
    display: none;
  }

  .text_content {
    background: url("/assets/hero_img.png");
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    justify-content: center;
    background-repeat: none;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .text_content .heading {
    font-size: 40px;
  }

  .text_content .description {
    width: 100%;
  }
}
