.yx1_display_wrapper {
  width: 100%;
  max-width: 14440px;
}

.yx1_display {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin: 0 auto;
  width: 1110px;
  justify-content: space-between;
}

.yx1_display > img {
  width: 540px;
  height: 320px;
  border-radius: 8px;
}

.yx1_cta {
  background-color: #f1f1f1;
  border-radius: 8px;
  width: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 70px;
  gap: 30px;
  height: 320px;
}

.yx1_cta .heading {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 28px;
  font-weight: 700;
  color: #000000;
}

.yx1_cta button {
  border: 1px solid #000000;
  font-family: inherit;
  width: 160px;
  height: 48px;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  color: #000000;
  cursor: pointer;
  transition: all 0.5s ease;
}

.yx1_cta button:hover {
  background-color: #000000;
  color: #ffffff;
}

@media (max-width: 1023px) {
  .yx1_display {
    gap: 20px;
    width: 90%;
  }

  .yx1_display > img {
    width: 50%;
    height: 320px;
  }

  .yx1_cta {
    height: 320px;
    width: 50%;
  }
}

@media (max-width: 767px) {
  .yx1_display {
    flex-direction: column;
    gap: 10px;
  }

  .yx1_cta {
    width: 100%;
    height: 200px;
    gap: 20px;
    padding-left: 20px;
  }

  .yx1_display > img {
    width: 100%;
    height: auto;
  }
}
