.display_section_wrapper {
  width: 100%;
  max-width: 14440px;
}

.display_section {
  background-color: #d87d4a;
  width: 1110px;
  margin: 0 auto;
  height: 560px;
  border-radius: 8px;
  max-width: 100%;
  justify-content: center;
  display: flex;
  overflow: hidden;
  gap: 120px;
  flex-direction: row;
  background-image: url("/assets/oval_bg.svg");
  background-repeat: no-repeat;
}

.display_section > img {
  width: 410.23px;
  height: 493px;
  margin-top: 100px;
}

.speaker_details {
  height: 303px;
  width: 349px;
  margin-top: 130px;
}

.speaker_details .heading {
  font-weight: 700;
  font-size: 56px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 58px;
  color: #ffffff;
}

.speaker_details .description {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  opacity: 0.75;
  color: #ffffff;
  margin-top: 15px;
}

.speaker_details button {
  width: 160px;
  height: 48px;
  margin-top: 30px;
  font-family: inherit;
  background-color: #000000;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.speaker_details button:hover {
  background-color: #4c4c4c;
}

@media (max-width: 1023px) {
  .display_section {
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center -250px;
    background-size: 500px 500px;
    height: 720px;
    gap: 50px;
  }

  .display_section > img {
    width: 197.21px;
    height: 237px;
    margin-top: 0;
  }

  .speaker_details {
    margin-top: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
